/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
	margin-top: 50px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 3em;
    font-family: san-serif, 'Helvetica';
    font-weight: 100;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #999;
}

blockquote {
	padding: 0;
	border: none;
	font-style: italic;
	text-align: left;
}

blockquote cite {
	display: block;
	color: #777;
	margin: 15px 0 0 0;
}

blockquote:before {
	display: none;
}

img {
	max-width: 100%;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background: #79b044;
	border: none;
}

.btn-success:hover {
	background: #6a9b3d;
	border-color: #6a9b3d;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

.text-danger, li.text-danger a {
	color: #dd5638;
}

a.text-danger:hover {
	color: #e55939;
}

.modal-content{
	background: url('../img/tile.jpg') top left repeat;
}

.badge.social {
	background: #ccc;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 5px 20px 0;
	padding: 0;
	border-radius: 50px;
	color: white;
}

.badge.social.twitter:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.gplus:hover {
	background: #db4b39;
}

/* ==== Navigation Bar ====*/
.navbar {
    border: none;
}
.navbar .navbar-nav {
    display: inline-block;
    float:none;
}
.navbar .navbar-collapse {
    text-align:center;
}
.navbar-nav>li>a {
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}
.navbar-nav>li>a:hover {
    background: none;
    border-top: 3px solid #333;
    margin-top: -3px;
}
.navbar-nav>li {
    margin:0 40px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:none;
    border-color:#333;
}
.navbar-toggle .icon-bar {
    background:#333;
}
.navbar-toggle {
    width:44px;
    left:50%;
    float:none;
    margin-left:-22px;
}
.navbar-nav>li>a>span {
    font-size:1.5em;
    font-weight: bold;
}

/* ==== Logo ==== */
.navbar-inverse .navbar-brand {
    color:#333;
    text-align:center;
}

/* ==== Carousel Section ==== */
.int-words {
    text-align:center;
    margin: 5% 0;
}
.owl-carousel .owl-stage-outer {
    background: none;
}

.owl-carousel .owl-nav .owl-prev {
    left:5%;
}
.owl-carousel .owl-nav .owl-next {
    right:5%;
}
.owl-carousel .paint-subject {
	position:absolute;
    top:410px;
    left:0;
    padding:20px;
    background:rgba(225,225,225,.5);
}
/* ==== Paintings Section ==== */
#paintings h2 {text-align: center}

/* ==== MEDIA QUERIES ==== */
@media screen and (min-width : 1280px) {
    .owl-carousel .owl-stage-outer {
        width:80%;
        height:600px;
    }
}

@media screen and (max-width : 1270px) {
	.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
		
	}
}

@media screen and (max-width : 991px) {
	#instructor .container {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}
}

@media screen and (max-width : 768px) {
	.logo {
		width: 50%;
	}
	
	#optin p {
		margin: 0 0 10px;
	}
	
	#featurette iframe {
		height: 240px;
	}
	
	.resource {
		width: 48%;
		margin-right: 2%;
	}
}

@media screen and (max-width : 568px) {
	#instructor .num {
		height: 100px;
		width: 100px;
		font-size: 22px;
	}
	
	#instructor .num span {
		font-size: 16px;
	}
	
	.resource {
		width: 100%;
		margin-right: 0;
	}
}